.payment_form_controls {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.payment_form_controls input {
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}

.payment_form_actions {
    margin-bottom: 10px;
}

.close {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /* Green */
}