.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.popup-inner {
    border-radius: 10px;
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #c6a1a9;
}


.ProductInfo {
    margin-top: 3%;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 180%;
    color: rgb(2, 2, 2);
}

.ImgProductInfo {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.pay_now_button {
    /* position: fixed; or absolute */
    display: block;
    margin: auto;
}