.productImg {
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 5%;

}

.productDelete {
  color: #94626d;
  cursor: pointer;
  font-size: xx-large !important;
}

.productDelete:hover {
  color: #683a44;
}